#jogar {
	color: #FF0080;
	margin-top: 50px;
	margin-left: -45px
}
#assistir{
	color: #FF0080;
	margin-top: 50px;
	margin-left: -45px
}
#baixar {
	color: #FF0080;
	margin-top: 50px;
	margin-left: -48px
}
#apps {
	color: #FF0080;
	margin-top: 50px;
	margin-left: -45px
	
}
#link {
	text-decoration:none; 
	color: black;
	margin-left: 30px
}
.sla {
	margin-left: 50px;

}

#linkss{
	text-decoration:none; 
	color: #848484;
	margin-left: 115px;
}
 #espa{
	margin-left: 50px
}
