#card2 {
	margin-left: 270px;
	margin-top: -150px

}
#card3 {
	margin-left: 540px;
	margin-top: -150px

}
#card4 {
	margin-left: 790px;
	margin-top: -150px

}
.card1 {
	margin-top: -150px;
	width: 180px; 
    margin-left: 13px
}
.card2 {
	margin-top: -150px;
	width: 180px; 
    margin-left: 85px
}
.card3 {
	margin-top: -155px;
	width: 190px; 
    margin-left: 87px
}
.card4 {
	margin-top: -150px;
	width: 180px; 
    margin-left: 50px
}
.card5 {
	margin-top: -150px;
	width: 180px; 
    margin-left: 15px
}
.card6 {
	margin-top: -150px;
	width: 180px; 
    margin-left: 100px
}
.card7 {
	margin-top: -150px;
	width: 190px; 
    margin-left: 90px
}
.card8 {
	margin-top: -150px;
	width: 180px; 
    margin-left: 42px
}
#card5 {
	margin-top: 30px;

}
#card6 {
	margin-left: 500px;
	margin-top: -150px
}

.ba1 {
	width: 420px;
	margin-top: -170px;
	margin-left: 10px

}
.ba2 {
	width: 420px;
	margin-top: -170px;
	margin-left: 80px
 
}
#jogar {
	color: #FF0080;
	margin-top: 50px;
	margin-left: -45px
}
#assistir{
	color: #FF0080;
	margin-top: 50px;
	margin-left: -45px
}
#baixar {
	color: #FF0080;
	margin-top: 50px;
	margin-left: -48px
}
#apps {
	color: #FF0080;
	margin-top: 50px;
	margin-left: -45px
	
}




































